<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gwhere.mapper.BrandInfoMapper" >
  	<select id="getBrandInfoByCode" resultType="org.gwhere.model.TblPcBrand">
		select b.*
		from tbl_pc_brand b
		where b.code = #{code}
		and b.status = 1
	</select>

	<select id="getBrandsByName" resultType="org.gwhere.model.TblPcBrand">
		select b.*
		from tbl_pc_brand b
		where b.name like CONCAT('%',#{name},'%')
		and b.status = 1
	</select>

	<select id="getBrandsByEqualName" resultType="org.gwhere.model.TblPcBrand">
		select b.*
		from tbl_pc_brand b
		where REPLACE(LOWER(b.name) , ' ' , '') = REPLACE(#{name} , ' ' , '')
		and b.status = 1
	</select>

	<update id="updateBrand" parameterType="org.gwhere.model.TblPcBrand">
		update tbl_pc_brand
		set name = #{name},
		last_update_time = #{lastUpdateTime},
		last_update_user = #{lastUpdateUser},
		status = #{status}
		where id = #{id}
		and status = 1
	</update>
</mapper>