<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gwhere.mapper.BrandMenuMapper" >
  	<select id="getBrandMenuByCode" resultType="org.gwhere.model.TblPcBrandMenu">
		select c.*
		from tbl_pc_brand b,tbl_pc_brand_menu c
		where b.id = c.brand_id
		and b.code = #{code}
		and c.status = 1
		and b.status = 1
	</select>
</mapper>